@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-ExtraLight.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "NotoSerif", "sans-serif";
  overflow-x: hidden;
  color: #333333;
}

.fs-12 {
  font-size: 1.2rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-17 {
  font-size: 1.7rem !important;
}

.fs-20 {
  font-size: 2rem !important;
}

.fs-25 {
  font-size: 2.5rem !important;
}

.fs-27 {
  font-size: 2.7rem !important;
}

.fs-32 {
  font-size: 3.2rem !important;
}

.fs-35 {
  font-size: 3.5rem !important;
}

.fs-40 {
  font-size: 4rem !important;
}

.fs-85 {
  font-size: 8.5rem !important;
}

.lh-60 {
  line-height: 6rem !important;
}

.text-color-primary {
  color: #333333 !important;
}

.text-color-purple {
  color: #944dbf !important;
}

.text-color-purple-light {
  color: #f4dffc;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 1200px;
}

.banner-1 {
  background-image: url("./assets/images/header-background.svg");
  padding: 6% 10%;
  background-size: 100%;

  .text {
    .title-1 {
      font-size: 3.1rem;
      span {
        border-bottom: 1px solid #944dbf;
      }
    }

    .title-2 {
      font-size: 2.1rem;
    }

    .content {
      font-size: 1.4rem;
      border-bottom: 1px solid #944bdf;
      border-top: 1px solid #944bdf;
      padding: 1.2rem 0;
    }
  }

  .items {
    .item {
      background: linear-gradient(
        45deg,
        rgba(201, 145, 235, 1) 0%,
        rgba(201, 145, 235, 1) 51%,
        rgba(255, 255, 255, 1) 51%,
        rgba(255, 255, 255, 1) 100%
      );
      font-size: 2.1rem;

      :first-child {
        text-align: initial;
        padding: 1.7rem 0 1.3rem 2.8rem;
        color: white;
      }

      :last-child {
        text-align: end;
        padding: 1.7rem 2.8rem 1.3rem 0;
        color: rgb(201, 145, 235);
      }
    }
  }

  .circles {
    .circle {
      background-color: white;
      border-radius: 50%;
      height: 15rem;
      color: #944dbf;

      p {
        min-width: 15rem;
      }
    }

    .circle::after {
      content: "";
      border: solid 1px #dc84e0;
      position: relative;
      width: 15rem;
      min-width: 15rem;
      height: 15rem;
      border-radius: 50%;
      left: calc(-15rem - 2px);
      bottom: 5px;
    }
  }
}

.information {
  color: #591f7d;
  background-color: #f9f6fa;

  .line {
    background-color: #591f7d;
  }
}

.information::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4.5rem solid transparent;
  border-right: 4.5rem solid transparent;
  border-top: 6rem solid #f9f6fa;
  left: calc(50% - 4.2rem);
}

.detail-1 {
  .number {
    border-radius: 7px;
    border: 1px solid #591f7d;
  }

  .text {
    border-bottom: 1px solid #591f7d;
    width: calc(560px - 8rem);
  }
}

.detail-2 {
  width: 944px;
  height: 853px;
  background-image: url("./assets/images/image-1.svg");
}

.detail-3 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }
}

.banner-2 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  .floating {
    background-color: white;
    margin-left: -10%;
    margin-right: 10%;
    margin-top: 35%;
    margin-bottom: -10%;
    position: inherit;
    z-index: 100;
  }
}

.banner-3 {
  background-color: rgba(89, 31, 125, 0.11);
  height: 50rem;
  margin-right: -4rem;
  margin-top: -12rem;

  .wrapper {
    margin-top: 3.5rem;
    margin-bottom: 6rem;

    .item {
      border: 1px solid #591f7d;
      background-color: white;
      border-radius: 7px;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        color: #591f7d;
      }
    }
  }
}

.banner-4 {
  background-image: linear-gradient(154deg, #f0eaf4 36%, #dfc3f2 97%);
}

.detail-4 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  .contact {
    border-top: 1px solid #591f7d;
    border-bottom: 1px solid #591f7d;

    .item {
      border: 1px solid #591f7d;
      background-color: white;
      border-radius: 7px;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        color: #591f7d;
      }
    }
  }
}

.detail-5 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }
}
