@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-ExtraLight.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerif";
  font-display: swap;
  src: url("./assets/fonts/NotoSerifJP-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "NotoSerif", "sans-serif";
  overflow-x: hidden;
  color: #333333;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgba(123, 123, 123, 0.5);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.fs-10px {
  font-size: 10px;
}

.fs-08 {
  font-size: 0.8rem !important;
}

.fs-12 {
  font-size: 1.2rem !important;
}

.fs-15 {
  font-size: 1.5rem !important;
}

.fs-17 {
  font-size: 1.7rem !important;
}

.fs-20 {
  font-size: 2rem !important;
}

.fs-25 {
  font-size: 2.5rem !important;
}

.fs-27 {
  font-size: 2.7rem !important;
}

.fs-32 {
  font-size: 3.2rem !important;
}

.fs-35 {
  font-size: 3.5rem !important;
}

.fs-40 {
  font-size: 4rem !important;
}

.fs-45 {
  font-size: 4.5rem !important;
}

.fs-66 {
  font-size: 6.6rem !important;
}

.fs-85 {
  font-size: 8.5rem !important;
}

.lh-60 {
  line-height: 6rem !important;
}

.mt-8-mobile {
  @media only screen and (max-width: 600px) {
    margin-top: 2rem !important;
  }
}

.text-color-white {
  color: #ffffff;
}

.text-color-primary {
  color: #333333 !important;
}

.text-color-purple {
  color: #944dbf !important;
}

.text-color-purple-light {
  color: #f4dffc !important;
}

.text-color-purple-heavy {
  color: #591f7d !important;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  width: 1200px;
}

.banner-1 {
  background-image: url("./assets/images/background-1.svg");
  padding: 6% 10%;
  background-size: 100%;
  padding-bottom: 0;

  @media only screen and (max-width: 600px) {
    background-image: url("./assets/images/background-3.svg");
    padding: 18rem 20px 12px 20px;

    .grid-cols-3 {
      display: flex;
    }
  }

  .col-span-2 {
    padding-left: 7%;
  }

  .text {
    .title-1 {
      font-size: 3.1rem;

      span {
        border-bottom: 1px solid #944dbf;
      }

      @media only screen and (max-width: 600px) {
        font-size: 2.1rem;
      }
    }

    .title-2 {
      font-size: 2.1rem;

      @media only screen and (max-width: 600px) {
        font-size: 1.1rem;
        margin: 1rem 0;
      }
    }

    .content {
      font-size: 1.4rem;
      border-bottom: 1px solid #944bdf;
      border-top: 1px solid #944bdf;
      padding: 1.2rem 0;

      @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
        margin: 0;
        width: 100%;

        .line-break::after {
          content: "\a";
          white-space: pre;
        }
      }
    }
  }

  .items {
    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      margin: 2.8rem 0;
    }

    .item {
      background: linear-gradient(
        45deg,
        rgba(201, 145, 235, 1) 0%,
        rgba(201, 145, 235, 1) 51%,
        rgba(255, 255, 255, 1) 51%,
        rgba(255, 255, 255, 1) 100%
      );
      font-size: 2.1rem;
      border: 1px solid #c991eb;

      :first-child {
        text-align: initial;
        padding: 1.7rem 0 1.3rem 2.8rem;
        color: white;

        @media only screen and (max-width: 600px) {
          padding: 0;
        }
      }

      :last-child {
        text-align: end;
        padding: 1.7rem 2.8rem 1.3rem 0;
        color: rgb(201, 145, 235);

        @media only screen and (max-width: 600px) {
          padding: 0;
        }
      }

      @media only screen and (max-width: 600px) {
        padding: 1rem 1.8rem;
        font-size: 1rem;
        border: 1px solid #c991eb;
        background: linear-gradient(
          55deg,
          rgba(201, 145, 235, 1) 0%,
          rgba(201, 145, 235, 1) 51%,
          rgba(255, 255, 255, 1) 51%,
          rgba(255, 255, 255, 1) 100%
        );
      }
    }
  }

  .circles {
    .circle {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      height: 15rem;
      color: #944dbf;

      p {
        min-width: 15rem;
      }
    }

    .circle::after {
      content: "";
      border: solid 1px #dc84e0;
      position: relative;
      width: 15rem;
      min-width: 15rem;
      height: 15rem;
      border-radius: 50%;
      left: calc(-15rem - 2px);
      bottom: 5px;
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.banner-1-mobile {
  display: none;
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
  background-color: #f7eaff;

  .circle {
    background-color: white;
    border-radius: 50%;
    color: #944dbf;

    p {
      min-width: 7rem;
    }
  }

  .circle::after {
    content: "";
    border: solid 1px #dc84e0;
    position: relative;
    width: 7rem;
    min-width: 7rem;
    height: 7rem;
    border-radius: 50%;
    left: calc(-7rem - 2px);
    bottom: 5px;
  }

  @media only screen and (max-width: 600px) {
    display: flex;
  }
}

.information {
  color: #591f7d;
  background-color: #f9f6fa;

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem !important;
    padding: 2.2rem 0;

    .line-break::after {
      content: "\a";
      white-space: pre;
    }
  }
}

.line {
  background-color: #591f7d;
}

.information::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4.5rem solid transparent;
  border-right: 4.5rem solid transparent;
  border-top: 6rem solid #f9f6fa;
  left: calc(50% - 4.2rem);

  @media only screen and (max-width: 600px) {
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 3.5rem solid #f9f6fa;
    left: calc(50% - 2rem);
  }
}

.detail-1 {
  .fs-15 {
    font-size: 1rem !important;
  }

  .number {
    border-radius: 7px;
    border: 1px solid #591f7d;

    @media only screen and (max-width: 600px) {
      min-width: 4.5rem;
      max-width: 4.5rem;
      height: 4.5rem;
    }
  }

  .text {
    border-bottom: 1px solid #591f7d;
    width: calc(560px - 8rem);

    @media only screen and (max-width: 600px) {
      max-width: 70%;
      font-size: 0.8rem !important;
      padding-left: 0;
    }
  }

  .w-45p {
    width: 45%;
  }

  .px-6 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

  @media only screen and (max-width: 600px) {
    padding-top: 1.6rem;
    padding-bottom: 3rem;

    .px-6 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .fs-20-mobile {
      font-size: 1rem !important;
    }

    .mb-20 {
      margin-bottom: 3rem;
    }

    .flex-col-mobile {
      flex-direction: column;

      .w-45p {
        width: 100%;
      }

      .second-row {
        margin-top: 1rem;
      }

      .fs-20 {
        font-size: 0.7rem !important;
      }

      .fs-27 {
        font-size: 1.4rem !important;
      }
    }
  }
}

.detail-2 {
  width: 944px;
  height: 853px;
  background-image: url("./assets/images/image-1.svg");

  @media only screen and (max-width: 600px) {
    width: 375px;
    height: 339px;
    background-size: contain;
  }
}

.detail-3 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4.5rem;

    .fs-20 {
      font-size: 1.2rem !important;
    }

    .fs-12 {
      font-size: 1rem !important;
    }

    .flex-col-reverse-mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    .flex-col-mobile {
      display: flex;
      flex-direction: column;
      margin-top: 2.25rem;

      .pt-16 {
        padding-top: 1.75rem;
      }
    }
  }
}

.banner-2 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  .floating {
    background-color: white;
    margin-left: -10%;
    margin-right: 10%;
    margin-top: 35%;
    margin-bottom: -10%;
    position: inherit;
    z-index: 100;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.banner-2-mobile {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;

    .image-container {
      width: 90%;
    }

    .content-container {
      width: 90%;
      padding: 2.4rem 1.25rem 3.5rem 2.4rem;
      background-color: white;
      position: relative;
      margin-left: 10%;

      .sub-text {
        border-top: 1px solid #944dbf;
      }
    }
  }
}

.banner-3 {
  background-color: rgba(89, 31, 125, 0.11);
  height: 50rem;
  margin-top: -12rem;
  width: calc(100vw - 4rem);

  .container {
    margin-top: 3.5rem;
    margin-bottom: 6rem;

    .item {
      border: 1px solid #591f7d;
      background-color: white;
      border-radius: 7px;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        color: #591f7d;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    margin: 0;
    width: 100vw;
    margin-top: -25rem;
    display: block;
    padding-top: 28rem;
    padding-left: 20px;
    padding-right: 20px;
    height: 56rem;

    .fs-27 {
      font-size: 1.4rem !important;
    }

    .container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 0;

      .item {
        padding-top: 20px;
        padding-bottom: 15px;

        img {
          margin: auto 0;
        }

        #icon-1 {
          height: 2rem;
        }

        #icon-2 {
          height: 0.6rem;
        }

        .mt-05-mobile {
          margin-top: 0.5rem;
        }

        .lh-60 {
          line-height: normal !important;
        }

        .fs-17 {
          font-size: 1.1rem !important;
        }

        .fs-40 {
          font-size: 2rem !important;
        }

        .fs-15 {
          font-size: 0.9rem !important;
        }
      }

      .item:last-child {
        margin-top: -1rem;
      }
    }
  }
}

.banner-4 {
  background-image: linear-gradient(154deg, #f0eaf4 36%, #dfc3f2 97%);

  @media only screen and (max-width: 600px) {
    padding: 3.5rem 20px 5rem 20px;
    font-size: 1rem !important;

    .container {
      display: flex;
      flex-direction: column;
    }
  }
}

.detail-4 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  .contact {
    border-top: 1px solid #591f7d;
    border-bottom: 1px solid #591f7d;

    .item {
      border: 1px solid #591f7d;
      background-color: white;
      border-radius: 7px;

      img {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        color: #591f7d;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding-top: 0;

    .mt-12 {
      margin-top: 0;
    }

    .contact {
      margin-top: 3rem;
      padding-left: 20px;
      padding-right: 20px;

      .fs-27 {
        font-size: 1.6rem !important;
      }

      .grid-cols-2 {
        margin-top: 2rem;

        .item {
          padding-top: 20px;
          padding-bottom: 15px;

          img {
            margin: auto 0;
          }

          #icon-1 {
            height: 2rem;
          }

          #icon-2 {
            height: 0.6rem;
          }

          .mt-05-mobile {
            margin-top: 0.5rem;
          }

          .lh-60 {
            line-height: normal !important;
          }

          .fs-17 {
            font-size: 1.1rem !important;
          }

          .fs-40 {
            font-size: 2rem !important;
          }

          .fs-15 {
            font-size: 0.9rem !important;
          }
        }
      }
    }

    .image-container-1::before {
      content: "01";
      color: #f4dffc;
      position: relative;
      top: 2.8rem;
      font-size: 4rem !important;
    }

    .image-container-2::before {
      content: "02";
      color: #f4dffc;
      position: relative;
      top: 2.8rem;
      font-size: 4rem !important;
    }

    .image-container-3::before {
      content: "03";
      color: #f4dffc;
      position: relative;
      top: 2.8rem;
      font-size: 4rem !important;
    }

    .grid-cols-2 {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: column-reverse;

      .fs-20 {
        font-size: 1.2rem !important;
      }

      .fs-12 {
        font-size: 1rem !important;
      }

      .leading-none {
        display: none;
      }
    }

    .grid-cols-2:nth-child(2) {
      flex-direction: column;
    }
  }
}

.detail-5 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;

    .mt-12-mobile {
      margin-top: 3rem;
    }

    .grid-cols-2 {
      display: flex;
      flex-direction: column;

      .fs-20 {
        font-size: 1.3rem !important;
      }

      .fs-12 {
        font-size: 1.1rem !important;
      }
    }

    .grid-cols-2:nth-child(2) {
      flex-direction: column-reverse;
    }
  }
}

.banner-5 {
  .sub-text {
    border-top: 1px solid #944dbf;
  }

  .floating {
    background-color: white;
    margin-left: -10%;
    margin-right: 10%;
    margin-top: 35%;
    margin-bottom: -10%;
    position: inherit;
    z-index: 100;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.banner-5-mobile {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;

    .image-container {
      width: 90%;
    }

    .content-container {
      width: 90%;
      padding: 2.4rem 1.25rem 3.5rem 2.4rem;
      background-color: white;
      position: relative;
      margin-left: 10%;

      .sub-text {
        border-top: 1px solid #944dbf;
      }
    }
  }
}

.banner-6 {
  background-color: rgba(89, 31, 125, 0.11);
  height: 22rem;
  width: calc(100vw - 4rem);
  margin-top: -12rem;

  @media only screen and (max-width: 600px) {
    height: 24rem;
    margin-top: -21rem;
    margin-left: 0;
    width: 100vw;
  }
}

.detail-6 {
  margin-top: 6rem;

  .steps-images {
    align-items: baseline;

    #icon-5,
    #icon-6,
    #icon-7,
    #icon-8 {
      align-self: stretch;
    }
  }

  .content {
    border-top: 1px solid #944dbf;
  }

  .contact {
    border-top: 1px solid #591f7d;
    border-bottom: 1px solid #591f7d;

    .item {
      border: 1px solid #591f7d;
      background-color: white;
      border-radius: 7px;

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .steps-images-mobile {
    display: none;
  }

  .image-mobile {
    display: none;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5rem;

    .image-mobile {
      padding-right: 40px;
      display: flex;
    }

    .contact {
      margin-top: 4rem;
    }

    .col-span-2 {
      display: none;
    }

    .col-span-9 {
      grid-column: span 11 / span 11;
      text-align: center;

      .fs-32 {
        font-size: 1.8rem !important;
      }

      .fs-15 {
        font-size: 0.96rem !important;
        text-align: initial;
        margin-top: 2.5rem;
      }

      .text-initial {
        text-align: initial;
      }
    }

    .steps-images {
      display: none;
    }

    .steps-images-mobile {
      display: block;

      .grid-cols-3 {
        align-items: end;

        div::before {
          content: url("./assets/icons/icon-3.svg");
          height: fit-content;
          align-self: center;
          margin-left: -1rem;
        }

        .no-arrow::before {
          content: "";
        }

        .low-arrow::before {
          margin-top: 2.5rem;
        }
      }
    }
  }
}

.banner-7 {
  background-image: linear-gradient(109deg, #73359a 21%, #591f7d 87%);

  img {
    position: absolute;
    right: 0;
  }
}

.detail-7 {
  .title {
    align-items: center;
  }

  .content {
    border-top: 1px solid #591f7d;
  }
}

.wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

#sec_contact-us {
  margin: 70px 0 130px;
  background-color: #f9f6fa;
}

#sec_contact-us .formWrap table {
  max-width: 750px;
  margin: 0 auto;
}

#sec_contact-us {
  padding: 90px 0 120px;
}

#sec_contact-us .formWrap th {
  font-family: "Noto Serif JP", serif;
  font-size: 1.2rem;
  line-height: 1;
}
#sec_contact-us .formWrap {
  margin-top: 100px;
}
#sec_contact-us .formWrap input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  padding: 4px 2px;
  width: 100%;
}
#sec_contact-us .formWrap input[type="text"]:focus {
  border-bottom: 1px solid #591f7d;
  box-shadow: none;
  outline: none;
}

#sec_contact-us .formWrap input[type="submit"] {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 23px;
  height: 46px;
  width: 260px;
  background: #591f7d url("./assets/images/btn_arrow.svg") right 25px center
    no-repeat;
  margin: 30px auto 0;
  cursor: pointer;
}

#sec_contact-us .formWrap input[type="radio"] {
  margin-right: 5px;
}

#sec_contact-us .formWrap textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  font-size: 1rem;
  height: 190px;
  padding: 0 3px;
  width: 100%;
  resize: vertical;
}

#sec_contact-us .formWrap textarea:focus {
  border: 1px solid #591f7d;
  box-shadow: none;
  outline: none;
}
#sec_contact-us .formWrap table {
  max-width: 750px;
  margin: 0 auto;
}
#sec_contact-us .formWrap th {
  width: 200px;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  padding-top: 10px;
}
#sec_contact-us .formWrap th sup {
  font-size: 0.6em;
  vertical-align: super;
}
#sec_contact-us .formWrap td {
  width: 550px;
  font-size: 1rem;
  line-height: 1;
}
#sec_contact-us .formWrap th,
#sec_contact-us .formWrap td {
  vertical-align: top;
  padding-bottom: 35px;
}
#sec_contact-us .formWrap .card {
  margin-top: 15px;
}
#sec_contact-us .formWrap td.r {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
}
#sec_contact-us .formWrap label + label {
  margin-left: 30px;
}
::placeholder {
  color: #b4b4b4;
}

.cp_ipselect {
  overflow: hidden;
  width: 15%;
  text-align: center;
}
.cp_ipselect,
#sec_contact-us .t {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px 0 5px;
}
.cp_ipselect select {
  font-size: 1rem;
  width: 120px;
  padding-right: 1em;
  cursor: pointer;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;

  text-align: center;
}
.cp_ipselect select::-ms-expand {
  display: none;
}
.cp_ipselect.cp_sl01 {
  position: relative;
  border-bottom: 1px solid #707070;
}
.cp_ipselect.cp_sl01::before {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 20px;
  height: 10px;
  padding: 0;
  content: "";
  pointer-events: none;
  background: url("./assets/images/form_arrow.svg") center center no-repeat;
}

.cp_ipselect.cp_sl01 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}
.cp_ipselect.cp_sl02 {
  position: relative;
  border-bottom: 1px solid #707070;
  width: 30%;
}
.cp_ipselect.cp_sl02::before {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 20px;
  height: 10px;
  padding: 0;
  content: "";
  pointer-events: none;
  background: url("./assets/images/form_arrow.svg") center center no-repeat;
}

.cp_ipselect.cp_sl02 select {
  padding: 8px 38px 8px 8px;
  color: #666666;
}

#sec_contact-us .backBtn {
  display: block;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  border-radius: 23px;
  border: 1px solid #999;
  height: 46px;
  line-height: 40px;
  width: 260px;
  background: #f7f7f7;
  margin: 60px auto 0;
  cursor: pointer;
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

#sec_contact-us .message {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#sec_contact-us .error_list {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  color: #c00;
  text-align: center;
  background: #fff;
}
#sec_contact-us table.contact {
  font-family: "Noto Sans JP", sans-serif;
  margin: 30px auto;
}
#sec_contact-us table.contact th,
#sec_contact-us table.contact td {
  border: 1px solid #999;
  vertical-align: middle;
  padding: 10px;
}

.mail-form-item .item {
  border: 1px solid #591f7d;
  border-radius: 7px;
}

.faq-wrap {
  margin: 90px 0 0;
}

.faq-frame {
  border: 1px solid #591f7d;
  border-radius: 7px;
  background: #fff;
  margin-bottom: 30px;
}

.faq-frame dl dt {
  position: relative;
  padding-left: 50px;
  padding-right: 60px;
  font-size: 1rem;
  line-height: 1.6;
  padding: 25px 100px 25px 110px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.faq-frame dl span {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.2;
  position: absolute;
  left: 62px;
  top: 25px;
  width: 50px;
  color: #591f7d;
}

.faq-frame dl dd {
  padding-left: 50px;
  position: relative;
  display: none;
  font-size: 1rem;
  line-height: 2;
  border-top: 1px solid #591f7d;
  margin-top: 20px;
  will-change: transform;
  padding: 20px 10px 0 50px;
  margin: 0 60px 20px;
  opacity: 1;
  transition: opacity 0.3s 0.1s;
}

.faq-frame dl dd span {
  left: 4px;
  top: 22px;
}

@media screen and (max-width: 750px) {
  #sec_contact-us {
    padding: 20vw 0 40vw;
  }

  #sec_contact-us .formWrap th {
    font-family: "Noto Serif JP", serif;
    font-size: 1.2rem;
    line-height: 1;
  }
  /*------------------------------------------------*/
  #sec_contact-us .formWrap {
    margin-top: 20vw;
  }
  #sec_contact-us .formWrap input[type="text"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    padding: 4px 2px;
    width: 100%;
  }
  #sec_contact-us .formWrap input[type="text"]:focus {
    border-bottom: 1px solid #591f7d;
    box-shadow: none;
    outline: none;
  }

  #sec_contact-us .formWrap input[type="submit"] {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 23px;
    height: 46px;
    min-width: 60vw;
    background: #591f7d url("./assets/images/btn_arrow.svg") right 25px center
      no-repeat;
    margin: 30px auto 0;
    cursor: pointer;
  }

  #sec_contact-us .formWrap input[type="radio"] {
    margin-right: 5px;
    font-size: 1rem;
  }

  #sec_contact-us .formWrap textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid #707070;
    border-radius: 0;
    font-size: 1rem;
    height: 190px;
    padding: 0 3px;
    width: 100%;
    resize: vertical;
  }

  #sec_contact-us .formWrap textarea:focus {
    border: 1px solid #591f7d;
    box-shadow: none;
    outline: none;
  }
  #sec_contact-us .formWrap table {
    display: block;
    width: 100%;
  }
  #sec_contact-us .formWrap table tbody {
    display: block;
  }
  #sec_contact-us .formWrap tr {
    display: block;
    margin-bottom: 12vw;
  }
  #sec_contact-us .formWrap th {
    display: block;
    font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 3vw;
  }
  #sec_contact-us .formWrap th sup {
    font-size: 0.6em;
    vertical-align: super;
  }
  #sec_contact-us .formWrap td {
    font-size: 1rem;
    line-height: 1;
  }
  #sec_contact-us .formWrap th,
  #sec_contact-us .formWrap td {
    vertical-align: top;
  }
  #sec_contact-us .formWrap .card {
    margin-top: 15px;
  }
  #sec_contact-us .formWrap td.r {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
  }
  #sec_contact-us .formWrap label + label {
    margin-left: 5vw;
  }
  ::placeholder {
    color: #b4b4b4;
  }

  .cp_ipselect {
    overflow: hidden;
    text-align: center;
  }
  .cp_ipselect,
  #sec_contact-us .t {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3vw 0 0;
  }
  .cp_ipselect select {
    font-size: 1rem;
    width: 20vw;
    padding-right: 0;
    cursor: pointer;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    text-align: center;
  }
  .cp_ipselect select::-ms-expand {
    display: none;
  }
  .cp_ipselect.cp_sl01 {
    position: relative;
    border-bottom: 1px solid #707070;
    width: 20vw;
  }
  .cp_ipselect.cp_sl01::before {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 20px;
    height: 10px;
    padding: 0;
    content: "";
    pointer-events: none;
    background: url("./assets/images/form_arrow.svg") center center no-repeat;
  }
  .cp_ipselect.cp_sl01 select {
    padding: 2vw 6vw 2vw 0;
    color: #666666;
  }

  #sec_contact-us .backBtn {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    border-radius: 23px;
    border: 1px solid #999;
    height: 46px;
    line-height: 40px;
    width: 260px;
    background: #f7f7f7;
    margin: 60px auto 0;
    cursor: pointer;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
  }

  #sec_contact-us .message {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  #sec_contact-us .error_list {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
    color: #c00;
    text-align: center;
    background: #fff;
  }
  #sec_contact-us table.contact {
    font-family: "Noto Sans JP", sans-serif;
    margin: 30px auto;
  }
  #sec_contact-us table.contact th,
  #sec_contact-us table.contact td {
    border: 1px solid #999;
    vertical-align: middle;
    padding: 10px;
  }
  .faq-wrap {
    margin: 10vw auto 0;
  }
  .faq-wrap .faq-frame {
    border: 1px solid #591f7d;
    border-radius: 7px;
    background: #fff;
    margin-bottom: 7vw;
  }
  .faq-wrap .faq-frame:last-child {
    margin-bottom: 0;
  }
  .faq-wrap dl {
    position: relative;
    padding: 5vw 5vw 10vw;
  }
  .faq-wrap dl:first-child {
    margin-top: 0;
  }
  .faq-wrap dl dt {
    position: relative;
    cursor: pointer;
    font-family: "Noto Serif JP", serif;
    font-size: 1rem;
    line-height: 1.6;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0 0 0 12vw;
  }
  .faq-wrap dl::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10vw;
    margin: auto 0;
  }
  .faq-wrap dl.open::after {
    transform: scaleY(-1);
  }
  .faq-wrap dl dd {
    position: relative;
    display: none;
    font-size: 1rem;
    line-height: 2;
    border-top: 1px solid #591f7d;
    margin: 5vw 0 0 0;
    will-change: transform;
    padding: 5vw 0 0 12vw;
  }
  .faq-wrap dl span {
    font-family: "Cinzel", serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    color: #591f7d;
  }
  .faq-wrap dl dd span {
    left: 0.1em;
    top: 7vw;
  }
  .faq-wrap dl dd {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .faq-wrap dl.open dd {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
  }
}
